#profile_info{
    float: right;
    margin-top: 80px;
}
div.row img.img_lesson{
    max-width: 400px;
    max-height: 400px;
}
/*
.container-fluid{
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
*/

body{
    background-color: #343a40;
}