


html{
    overflow: scroll;
}

body{
    height:430px;

}
#img_background{
    display: block;
    margin:auto;
    width:70%;
    min-width: 400px;
    height: auto;
}
@-ms-viewport {
    width: device-width
}

.jumbotron{
    position: fixed;
    bottom: 0;
}

