


html{
    overflow: scroll;
}

body{
    background-color: #84CFC6;
    height:430px;

}
#img_background{
    display: block;
    margin:auto;
    max-width: 100%;
    width:80%;
    height: auto;
}
@-ms-viewport {
    width: device-width
}

.jumbotron{
    position: fixed;
    bottom: 0;
}

