#image_profile{
    cursor:pointer
}

body{
    background-color: #343a40;
}

.dropdown-menu{
    background-color: #5e646b;
    max-width: 180px;
}
.dropdown-menu>a{
    color: white
}
.list-group>li{
    background-color: #5e646b;
    color:white;
    cursor: pointer;

}

.footer{
    bottom: 0;
    width: 100%;
    height: auto;
    background-color:#424949;
}

.detail{
    font-size: 50px;

}
.col-center{
    display: flex;
    align-items: center;
}
.icon{
    width: 60px;
    height: 60px;
}
.classroom_info{
    font-size: 25px;
    color: white;
}
.place_name{
    font-size: 40px;
}
.loader{
    border: 4px solid #f3f3f3;
    border-radius: 100%;
    border-top: 4px solid #5e646b;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
h1{
    color:white
}
@media only screen and (max-width:500px){
    h1{
        font-size: 10px;
        color:white;
    }
    small{
        margin-right: -10px;
    }
    .classroom_info{
        font-size: 18px;
        color: white;
    }
    .place_name{
        font-size: 25px;
    }
    .icon{
        width: 40px;
        height: 40px;
    }
}
@media only screen and (max-width:1000px){
    .detail{
        font-size: 40px;
    }
   

}
@media only screen and (max-width:850px){

    .loader {
        border: 4px solid #f3f3f3;
        border-radius: 100%;
        border-top: 4px solid #5e646b;
        width: 50px;
        height: 50px;
        animation: spin 1s linear infinite;
    }

    .detail{
        font-size: 35px;
    }

}
@media only screen and (max-width:380px){
 .detail{
        font-size: 30px;

    }
    .loader {
        border: 4px solid #f3f3f3;
        border-radius: 100%;
        border-top: 4px solid #5e646b;
        width: 40px;
        height: 40px;
        animation: spin 1s linear infinite;
    }

}
@media only screen and (min-width:380px) and (max-width:500px){

    .loader {
        border: 4px solid #f3f3f3;
        border-radius: 100%;
        border-top: 4px solid #5e646b;
        width: 45px;
        height: 45px;
        animation: spin 1s linear infinite;
    }

}
